extends layout

block content
	#app.text-center
		img(src="/img/logo.png" alt="express logo")
		h2 #{title}
		ul.list-unstyled 
			li.list-item
				a(href="/products") Sản phẩm
			li.list-item
				a(href="/details/dt01") Chi tiết sản Phẩm
			li.list-item
				a(href="/api/v1") API version
			li.list-item
				a(href="/api/v1/products") API toàn bộ sản Phẩm
			li.list-item
				a(href="/api/v1/product/dt01") API chi tiết Sản Phẩm
			li.list-item
				a(href="/api/v1/product/apple") API theo nhà sản xuất
			li.list-item
				a(href="/api/v1/product/apple/dt01") API theo nhà sản xuất và sản phẩm
